@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Michroma&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

/*       //////////////    INICIO    /////////////      */
.menu {
    list-style-type: none;
    background-color: black;
    padding-block: 20px;
    position: fixed;
    top: 0;
    width: 100%;

}

.menu_item {
    display: flex;
    margin-inline: 50px;
    font-family: 'Michroma', sans-serif;
    margin-left: 200px;
}

.menu_item a {
    color: white;
    text-decoration: none;
    
}

.menu_item a:hover {
    text-decoration: underline;
}

main .tarjetaS {
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Inter';
}

.nav-item {
    padding-inline: 4rem;
    font-size: 130%;
     
}


/* TARJETAS */

.tarjeta {
    background-color: rgb(187, 187, 187);
    width: 300px;
    height: 450px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-inline: 10px;
    margin-block: 20px;
    margin-left: 110px;
    border: 2px solid red;
}

.tarjeta_imagen {
    width: 100%;
}

.tarjeta_titulo {
   font-size: 20px 
}

.tarjeta_parrafo {
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.tarjeta_boton {
    background-color: black;
    color:rgb(255, 255, 255);
    padding: 4px;
    border-radius: 10px;
    margin-top: 5px;
}



/*logos sticky*/

.wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px
}

.ig {
    position: fixed;
    bottom: 60px;
    right: 16px;
    width: 40px;  
}


/* Separador */

main .conceseparador {
    width: 100%;
}


.concesionario {
    width: 100%;
}

.conce_titulo {
    font-family: 'Michroma', sans-serif;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: -10px;
    text-align: center;

}

.slogan {
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-size: 20px;
}

.novedades {
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(226, 226, 226);
}

/*  footer (aplica en todas las paginas)  */


.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: bottom;
    margin-top: 100px;
    padding-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyr {
    margin: 5px;
    display: inline-block;
    font-family: 'Inter', 'sans-serif';
    font-size: 12px;
    padding-top: 30px;
    margin-top: 270px;
}


.copy {
    margin-right: 65px;
}

.containerf {
    flex-direction: column;
    margin-right: 130px;
}

.infofooter {
    padding: 20px;
    padding-top: 60px;
    margin: 10px;
    font-family: 'Inter', 'sans-serif';
}

.nuestrasredesfi {
    padding-block: 20px;
    font-size: 20px;

}

.instagramfi {
    padding: 10px;
}

.facebookfi {
    padding: 10px;
}

.twitterfi {
    padding: 10px;
}

.telefonofi {
    padding: 10px;
}


/* PÁGINA "VEHÍCULOS" ////////////////////EN PROCESO/////////////// */

.logo-navbar {
    width: 50%;
    border: solid goldenrod;
}

.titulo-productos {
    font-family: 'Michroma', sans-serif;
    font-size: 130%;
    font-weight: 700;
    padding: 2rem;
    padding-block: 3rem;
    margin-block: 2rem;
    background-color: rgb(235, 235, 235);
    text-align: center;
}

/* .contenedor-tarjetas-vehiculos {
    display: grid;
    width: 800px;
    height: 600px;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
} */

.tarjetaP {
    display: flex;
    align-items: center;
    width: 90%;
    height: 400px;
    margin-left: 7rem;
    margin-block: 4rem;
}

.tarjetapv {
    background-color: rgb(187, 187, 187);
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-inline: 10px;
    margin-block: 20px;
    margin-left: 110px;
    border: 2px solid red;
}

/* PAGINA NOSOTROS ////////////EN PROCESO/////////////// */

.carousel {
    width: 500px;
    height: 400px;
}



/* PAGINA CONTACTOS */


.tituloc {
    font-family: 'Michroma', 'sans-serif';
    font-size: 1.7rem;
    margin-block: 3rem;
    text-align: center;
    padding-inline: 20rem;
}

.contenedorc {
    width: 1000px;
    height: 800px;
    display: grid;
    margin: 4rem;
    margin-left: 20%;
    margin-right: 20px;
    margin-top: 7rem;
    margin-bottom: 25rem;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 2fr 2fr 3fr 1fr;
    grid-template-areas:
        "caja1 caja2"
        "caja1 caja2"
        "caja3 caja3"
        "caja3 caja3"
        "caja3 caja3";
}


.caja {
    border: solid 1px rgb(192, 173, 0);
    margin: 1rem;
    padding: 2rem;
    height: 450px;
}

.caja1 {
    grid-area: caja1;
    background-color: rgb(209, 209, 209);
    padding-inline: 4rem;
    font-family: 'Michroma', 'sans-serif';
}

.servp {
    font-size: 15 0%;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.com {
    font-size: 100%;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.direcc {
    font-size: 100%;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.number {
    font-size: 100%;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.caja2 {
    grid-area: caja2;
    background-color: rgb(209, 209, 209);
    font-family: 'Michroma', 'sans-serif';
}

.correo {
    font-size: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.consulta {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn {
    height: 40px;
    width: 110px;
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.btn:hover {
    background-color: white;
    color: black;
}

.caja3 {
    grid-area: caja3;
    background-color: rgb(209, 209, 209);
    display: flex;
}


.mapatitle {
    padding: 3rem;
    margin-top: 7rem;
}

.mapac {
    padding: 1rem;
    margin-top: -5px;
}






/* MEDIA QUERYS PAGINA PRODUCTOS //////EN PROCESO////// */

/* @media screen and (max-width: 480px) {
    
    .tarjetapv {

        padding: 0px;
        align-items: start;
    }

    .tarjetaP {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "v1 v1"
            "v2"
            "v3"
            "v4";
    }

    .tarjeta {
        margin-left: 50px;
    }
} */

/* MEDIA QUERYS INICIO */

@media screen and (max-width: 480px) {
    
    .tarjeta {
        margin-left: 50px;
    }

    footer {
        margin-left: -50px;
        height: 400px;
    }



}

/* MEDIA QUERYS INICIO */

@media screen and (max-width: 480px) {

    .tituloc {
        font-family: 'Michroma', 'sans-serif';
        font-size: 1rem;
        margin-block: 3rem;
        text-align: center;
        padding-inline: 1rem;
    }
    
    .contenedorc {
        width: 200px;
        height: 800px;
        display: grid;
        margin: 4rem;
        margin-left: 11%;
        margin-top: 7rem;
        margin-bottom: 50rem;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas:
            "caja1"
            "caja2"
            "caja3";
    }

    .caja {
        width: 350px;
    }

    .caja1 {
        grid-area: caja1;
    }

    .caja2 {
        grid-area: caja2;
    }

    .caja3 {
        grid-area: caja3;
        display: grid;
    }

    .mapatitle {
        margin-top: -50px;
        margin-left: 10px;
    }

    .mapac {
        width: 330px;
        height: 330px;
        margin-top: -50px;
        margin-left: -25px;
    }
}


