.conceseparador {

    .concesionario {
        width: 100%;
    }

    .conce_titulo {
        font-family: 'Michroma', sans-serif;
        font-size: 70px;
        margin-top: 20px;
        margin-bottom: -10px;
        text-align: center;
    }

    .slogan {
        font-family: 'Michroma', sans-serif;
        text-align: center;
        font-size: 20px;
    }

    .novedades {
        font-family: 'Michroma', sans-serif;
        text-align: center;
        font-size: 20px;
        margin-top: 100px;
        margin-bottom: 50px;
        background-color: rgb(226, 226, 226);
    }
}


.tarjetaS {
    margin-top: 40px;
    margin-left: 230px;
    font-family: 'Inter';

    .tarjeta {
        background-color: rgb(187, 187, 187);
        width: 300px;
        height: 450px;
        padding: 10px;
        border-radius: 10px;
        display: inline-block;
        margin-inline: 50px;
        margin-block: 20px;
        margin-left: 100px;
        border: 2px solid rgb(255, 0, 0);

        
        .tarjeta_imagen {
            width: 100%;
        }

        .tarjeta_titulo {
            font-size: 20px 
        }
        
        .tarjeta_parrafo {
            font-size: 13px;
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .tarjeta_boton {
            background-color: black;
            color:rgb(255, 255, 255);
            padding: 4px;
            border-radius: 10px;
            margin-top: 5px;
        }

    }
}


