.financ-titulo {
    margin-left: 50px;
    padding-block: 30px;
    font-family: 'Inter', 'sans-serif';
    font-size: 200%;

}

.financ-text {
    margin-left: 30px;
    font-size: 20px;
    margin-block: 50px;
    padding-inline: 100px;
}

.f1 {
    margin-top: 150px;
}

.f2 {
    margin-bottom: 150px;
}

.img-financcards {
    border: solid 4px $doradomd;
    margin: 50px;
    margin-left: 170px;
    margin-top: 100px;

}

