.financ-titulo {
    padding-left: 50px;
    padding-block: 30px;
    font-family: 'Inter', 'sans-serif';
    font-size: 200%;
    margin-top: 140px;
    margin-bottom: -80px;
    background-color: rgb(235, 235, 235);

}

.financ-titulo {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @-webkit-keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-100px);
                  transform: translateY(-100px);
        }
      }
      @keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-100px);
                  transform: translateY(-100px);
        }
      }      
    
}


.financ-text {
    margin-left: 30px;
    font-size: 20px;
    margin-block: 50px;
    padding-inline: 100px;
}


.f1 {
    margin-top: 150px;
}

.f2 {
    margin-bottom: 150px;
}

.img-financcards {
    border: solid 4px $doradomd;
    margin: 50px;
    margin-left: 170px;
    margin-top: 100px;

}

