
@media screen and (max-width: 480px) {

    .titulo-veh-example {
        font-size: 170%;
        text-align: center;
        margin-left: -50px;
    }
    
    .text-veh-example {
        margin-left: 10px;
        font-size: 110%;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .img-veh-example {
        width: 450px;
        height: 280px;
        margin-left: 12px;
    }
}