.titulo-productos {
    font-family: 'Michroma', sans-serif;
    font-size: 130%;
    font-weight: 700;
    padding: 2rem;
    padding-block: 3rem;
    margin-top: 130px;
    margin-bottom: -80px;
    background-color: rgb(235, 235, 235);
    text-align: center;
}

.titulo-productos {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  @-webkit-keyframes slide-top {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      100% {
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px);
      }
    }
    @keyframes slide-top {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      100% {
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px);
      }
    }      
  
}

.containerc {
    display: grid;
    width: 800px;
    height: 550px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "card1 card2"
    "card3 card4"
    "card5 card6";
    margin-bottom: 900px;
    margin-top: 100px;
    margin-left: 28%;


    .card {
        border: 1px solid gold;
        margin: 30px;
        padding: 10px;

    }

    .card:hover {
        background-color: $grismd;
    }

    .card1 {
        grid-area: card1;
        margin-right: 20px;
        transition: all 1s;

    }

    .card1:hover {
        background-color: $grismd;
    }

    .card1 {
        -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    

    @-webkit-keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-100px);
                  transform: translateY(-100px);
        }
      }
      @keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-100px);
                  transform: translateY(-100px);
        }
      }
      
    
    .card2 {
        grid-area: card2;
        @extend .card1;
    }
    
    .card3 {
        grid-area: card3;
        @extend .card1;
    }
    
    .card4 {
        grid-area: card4;
        @extend .card1;
    }
    
    .card5 {
        grid-area: card5;
        @extend .card1;
    }
    
    .card6 {
        grid-area: card6;
        @extend .card1;
    }
}