@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Michroma&display=swap');

$fontMichroma: 'Michroma', sans-serif;

$doradomd: rgb(192, 173, 0);
$grismd:  rgb(209, 209, 209);

 